
::-webkit-scrollbar {
	width: 0px;
	background: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	position: relative;
	/*transform: translate(15%, 8%);*/
}

canvas {
	margin: auto;
	border-radius: 8px;
}

.info {
	position: absolute;
	width: 500px;
	height: 595px;
	margin-left: 805px;
	border-radius: 8px;
	border-color: rgb(51, 51, 51);
	border-width: medium;
	border-style: solid;
	background-color: #eee;
	color: rgb(51, 51, 51);
	overflow-y: scroll;
	overflow-x: hidden;
}

.actions {
	position: absolute;
	width: 490px;
	height: 180px;
	margin-left: 805px;
	margin-top: 605px;
	border-radius: 8px;
	border-color: rgb(51, 51, 51);
	border-width: medium;
	border-style: solid;
	background-color: #eee;
	color: rgb(51, 51, 51);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px;
}

.content {
	width: inherit;
	height: inherit;
	margin-top: -5px;
	text-align: center;
}

.title {
	margin-bottom: 0;
	color: rgb(51, 51, 51);
	font-size: 28px;
	font-family: serif;
}

.news {
	text-align: left;
	padding: 10px;
	white-space: pre-line;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, transparent, #8c8b8b, transparent);
	background-image: -moz-linear-gradient(left, transparent, #8c8b8b, transparent);
	background-image: -ms-linear-gradient(left, transparent, #8c8b8b, transparent);
	background-image: -o-linear-gradient(left, transparent, #8c8b8b, transparent);
}

/* Buttons */

.players {
	width: 98%;
	height: 30px;
	margin: 5px;
}

.theme {
	display: inline-block;
	position: absolute;
	top: 810px;
}

.theme2 {
	display: inline-block;
	position: absolute;
	top: 810px;
	left: 55px;
}
